* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todoContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(217, 238, 246);
}

/* Header css */

.header {
  padding: 5px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.header .left button,
.header .right button {
  padding: 5px;
  background-color: skyblue;
  border: 1px solid skyblue;
  border-radius: 5px;
}

.header .left {
  padding-left: 5px;
}

.header .right {
  padding-right: 5px;
}

/* Header css */


.main {
  width: 100%;
  height: calc(100% - (38px + 28px));
  background-color: skyblue;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow-y: auto;
  position: absolute;
}

.main .todos,
.main .todos .donetodo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0px;
}

.main .todos .donetodo.hidden {
  display: none;
}

.main .todos .donetodo.visible {
  display: flex;
  animation: slideshow 1s ease-in-out;
}

@keyframes slideshow {

  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }

}

.main .todos .todolist,
.main .todos .newtodo,
.main .todos .donetodo .todolist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 450px;
  padding: 10px;
  border-radius: 5px;
}

.main .todos .donetodo .todolist {
  background-color: greenyellow;
}

.main .todos .todolist:hover {
  background-color: rgb(249, 233, 233);
}

.main .todos .todolist input,
.main .todos .newtodo input,
.main .todos .donetodo .todolist input {
  padding: 3px;
  border-radius: 5px;
}

.main .todos .todolist svg:hover {
  cursor: grab;
}

.main .todos .todolist.dragging {
  opacity: 0.5;
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}



/* Footer css */

.footer .complete {
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.footer .complete button {
  border: none;
  background: transparent;
}

.footer .complete span {
  padding: 0px 5px;
}

.footer .complete button svg {
  position: relative;
  top: 1px;
}

.footer .complete svg {
  margin-right: 3px;
}

/* Footer css */