.date-picker {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.date-picker-input {
    padding: 8px 32px 8px 8px;
    /* Space for the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100px;
    /* Adjust width as needed */
}

.calendar {
    cursor: pointer;
    position: absolute;
    right: 5px;
    /* Position the icon to the right */
    font-size: 20px;
    /* Adjust size as needed */
    pointer-events: auto;
    width: 20px;
    /* Ensure icon can be clicked */
    outline: none;
    border: none;
}

.datepicker {
    display: none;
    /* Hide default calendar */
}